In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [3]:
traindata = pd.read_csv("train.csv")
testdata = pd.read_csv("test.csv")
traindata.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print(traindata.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [5]:
traindata = traindata.drop(['Cabin','Ticket'],axis = 1)
testdata = testdata.drop(['Cabin','Ticket'],axis = 1)
combine = [traindata , testdata]

In [6]:
traindata[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [7]:
traindata[["Pclass","Survived"]].groupby(["Pclass"]).mean().sort_values(by = "Survived",ascending = False)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [8]:
freq_port = traindata.Embarked.mode()[0]

In [9]:
for dataset in combine:
    dataset['Embarked'] = dataset.Embarked.fillna(freq_port)

In [10]:
traindata.Embarked.count()

891

In [11]:
Gender = { 'male' : 0, 
          'female' : 1}
for dataset in combine:
    dataset["Sex"] = dataset["Sex"].map(Gender)

In [11]:
traindata[["Parch","Survived"]].groupby(["Parch"]).mean().sort_values(by='Survived', ascending = False)

       Survived
Parch
3      0.600000
1      0.550847
2      0.500000
0      0.343658
5      0.200000
4      0.000000
6      0.000000

In [12]:
traindata[["Embarked","Survived"]].groupby(["Embarked"]).mean().sort_values(by='Survived', ascending = False)

          Survived
Embarked
C         0.553571
Q         0.389610
S         0.339009

In [13]:
Embark = {'S' : 0 , 'Q' : 1, 'C' : 2}
for dataset in combine:
    dataset["Embarked"] = dataset["Embarked"].map(Embark)

In [14]:
freq = traindata.Age.mode()[0]

In [15]:
for dataset in combine:
    dataset['Age'] = dataset['Age'].fillna(freq)

In [16]:
for dataset in combine:
    dataset["FamilySize"] = dataset["SibSp"] + dataset['Parch']

In [17]:
traindata[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   FamilySize  Survived
3           3  0.724138
2           2  0.578431
1           1  0.552795
6           6  0.333333
0           0  0.303538
4           4  0.200000
5           5  0.136364
7           7  0.000000
8          10  0.000000

In [1]:
traindata.shape[1]

NameError: name 'traindata' is not defined

In [20]:
testdata.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           1
Embarked       0
FamilySize     0
dtype: int64

In [21]:
freq1 = testdata['Fare'].mode()[0]
testdata['Fare'] = dataset["Fare"].fillna(freq1)

In [41]:
xtrain = traindata[['Pclass','Sex','Age','Fare','Embarked','FamilySize']]
ytrain = traindata['Survived']
xtest = testdata.drop(["PassengerId","Name","SibSp","Parch"],axis = 1)

In [42]:
xtest.head()

   Pclass  Sex   Age     Fare  Embarked  FamilySize
0       3    0  34.5   7.2500         1           0
1       3    1  47.0  71.2833         0           1
2       2    0  62.0   7.9250         1           0
3       3    0  27.0  53.1000         0           0
4       3    1  22.0   8.0500         0           2

In [51]:
LR = LogisticRegression()
LR.fit(xtrain,ytrain)
ypred = LR.predict(xtest)
acc = round(LR.score(xtrain,ytrain)*100,2)
acc

C:\Users\Haris Ali\Anaconda3\envs\myenv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

80.25

In [64]:
perc = Perceptron()
perc.fit(xtrain,ytrain)
perc_pred = perc.predict(xtest)
perc_acc = round(perc.score(xtrain,ytrain)*100,2)
perc_acc

78.34

In [65]:
sgd = SGDClassifier()
sgd.fit(xtrain,ytrain)
sgd_pred = sgd.predict(xtest)
sgd_acc = round(sgd.score(xtrain,ytrain)*100,2)
sgd_acc

69.92

In [87]:
dtc = DecisionTreeClassifier()
dtc.fit(xtrain,ytrain)
dtc_pred = dtc.predict(xtest)
dtc_acc = round(dtc.score(xtrain,ytrain)*100,2)
dtc_acc

98.09

In [86]:
rfc = RandomForestClassifier()
rfc.fit(xtrain,ytrain)
rfc_pred = rfc.predict(xtest)
rfc_acc = round(rfc.score(xtrain,ytrain)*100,2)
rfc_acc

C:\Users\Haris Ali\Anaconda3\envs\myenv\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

97.08

In [90]:
knc = KNeighborsClassifier()
knc.fit(xtrain,ytrain)
knc_pred = knc.predict(xtest)
knc_acc = round(knc.score(xtrain,ytrain)*100,2)
knc_acc

80.58

In [96]:
svc = LinearSVC()
svc.fit(xtrain,ytrain)
svc_pred = svc.predict(xtest)
svc_acc = round(svc.score(xtrain,ytrain)*100,2)
svc_acc

C:\Users\Haris Ali\Anaconda3\envs\myenv\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

77.1

In [98]:
NB = GaussianNB()
NB.fit(xtrain,ytrain)
NB_pred = NB.predict(xtest)
NB_acc = round(NB.score(xtrain,ytrain)*100,2)
NB_acc

79.35

In [103]:
dataframe = pd.DataFrame({
    "Model" : ['GaussianNB','LinearSVC','KNeighbor','RandomForest','DecisionTree','LogisticRegression','Perceptron','SGDClassifier']
    ,'Accuracy Score' : [NB_acc,svc_acc,knc_acc,rfc_acc,dtc_acc,acc,perc_acc,sgd_acc]
}).sort_values(by='Accuracy Score',ascending = False)

In [104]:
dataframe

                Model  Accuracy Score
4        DecisionTree           98.09
3        RandomForest           97.08
2           KNeighbor           80.58
5  LogisticRegression           80.25
0          GaussianNB           79.35
6          Perceptron           78.34
1           LinearSVC           77.10
7       SGDClassifier           69.92

In [106]:
submission = pd.DataFrame({
    "PassengerId" : testdata["PassengerId"],
    "Survived" : dtc_pred
})

In [108]:
submission.to_csv('submission.csv', index=False)